<div>
    <h1><u>Real Time Products</u></h1>
    <table id="productstable">
        <tbody>
            {{#each products}}
            <tr>
                <td> {{this.title}} {{this.description}} </td>
                <td> $ {{this.price}}</td>
                <td> {{this.stock}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socketClient = io();
    socketClient.on('new_product_arrived', data => {

        Toastify({
            text: "New product arrived!",
            className: "info",
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            }
        }).showToast();

        //console.log(data);
        tableProds = document.getElementById("productstable");
        //console.log(tableProds);
        var tr = document.createElement('tr');
        var td1 = document.createElement('td');
        var td2 = document.createElement('td');
        var td3 = document.createElement('td');
        var text1 = document.createTextNode(data.title + " " + data.description);
        var text2 = document.createTextNode("$ " + data.price);
        var text3 = document.createTextNode(data.stock);
        td1.appendChild(text1);
        td2.appendChild(text2);
        td3.appendChild(text3);

        tr.appendChild(td1);
        tr.appendChild(td2);
        tr.appendChild(td3);

        tableProds.appendChild(tr);
    })
</script>